@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-height: 100px;
    --main-blue: #10ACE2;
    --text-main: #3D4043;
    --text-secondary: #f2f2f2;
    --text-accent: #888888;
    --bg-gray: #f3f3f3;
    --bg-black: #000
}

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    list-style-type: none;
    text-decoration: none;
    color: var(--text-main);
    background-color: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

*::selection {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--text-accent);
    -moz-text-decoration-color: var(--text-accent);
    text-decoration-thickness: 2px;
}

html::-webkit-scrollbar {
    width: 0;
}

html, body {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: var(--header-height);
    padding: 0 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

section {
    padding-top: var(--header-height);
}

.text-main-blue {
    color: var(--main-blue);
}

.logo-container {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logitech-logo {
    width: auto;
    height: 100%;
}

.navigation-container {
    height: 100%;
    width: 50%;
}

.navigation-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.navigation-list>li>* {
    color: var(--text-accent);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.variants-container {
    position: relative;
    left: 0;
    top: 0;
}

#variantLists {
    width: 100vh;
    height: 100px;
    position: absolute;
    top: -2000%;
    left: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.variant {
    position: relative;
    width: max-content;
    padding: 4px 10px;
    transition-duration: 300ms;
}

#home {
    height: 100svh;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

#productBanner {
    padding: var(--header-height) 0 0 50px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
}

.product-sort-description {
    color: inherit;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.product-series,
.product-description {
    font-weight: 400;
    color: inherit;
}

.product-series,
.feature-headline {
    font-size: 1.3rem;
}

.product-description {
    font-size: 1.2rem;
}

.series-name {
    color: inherit;
    font-weight: 700;
    font-size: 4rem;
}

.product-image-container {
    overflow: hidden;
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-image {
    position: absolute;
    height: 100%;
    right: -50%;
    width: auto;
    aspect-ratio: 4/4;
}

#description {
    width: 100%;
    height: 100svh;
}

.product-article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.article-image-container,
.article-description-container {
    width: 40%;
    display: flex;
}

.article-image-container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.article-description-container {
    height: 75%;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-start;
}

.article-variant,
#articleSelectedVariant,
.feature-title {
    color: inherit;
    font-weight: bold;
    font-size: 2.25rem;
}

.article-description {
    text-align: justify;
}

#feature {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-headline-container {
    color: inherit;
    text-align: center;
}

.feature-headline {
    color: inherit;
}

.feature-container {
    color: inherit;
    width: 100%;
    min-height: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 16px;
}

.feature-item {
    color: inherit;
    font-size: 1rem;
    width: 80%;
    height: 75px;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 7px;
}

.feature-icon {
    height: auto;
    width: 50px;
    aspect-ratio: 4/4;
}

.footer {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer * {
    color: inherit;
}

.footer a {
    text-decoration: underline;
    text-underline-offset: 3px;
}